# Kafka consumer
kafka-python

# HTTP requests
requests

# Logging
loguru

# Data handling and preprocessing
pandas
numpy

# Model tools (Scaler, etc.)
scikit-learn

# If using XGBoost just for model file formats (optional)
xgboost

# For loading .pkl (joblib-based scaler)
joblib
